[Unit]
Description=Uplift Power Play

[Service]
Type=oneshot
ExecStart=/usr/bin/upp --pp-file=/sys/class/drm/%i/device/pp_table set --from-conf=/etc/upliftpowerplay/%i.conf

[Install]
WantedBy=multi-user.target
